<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="t4.submarine.com.DAO.AlbumMapper">

	<select id="getAlbumList" parameterType="int" resultType="Album">
		SELECT albumno, albumtitle, albumintro, albumimg, startdate, enddate, memberno
		FROM album
		WHERE memberno = #{memberno}
	</select>
	
</mapper>
