<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="journey.diary.test.DAO.PhotoMapper">

	<select id="selectOnePhoto" parameterType="int" resultType="Photo">
		SELECT 
			photono,
			albumno,
			userno,
			privacy,
			photoimg,
			photocontent,
			landmark,
			hashtag,
			TO_CHAR(dateoftravel, 'YYYY-MM-DD') dateoftravel,
			photoregdate,
		<!-- 왜?<if test="lat != null"> -->
			lat,
			lng,
		<!-- </if> -->
			userno,
			hitcount,
			likecount
		FROM photo
		WHERE photono=#{photono}
	</select>
	
	
	<insert id="photoUpload" parameterType="Photo">
		INSERT INTO PHOTO
		(
				photono,
				albumno,
				userno,
				privacy,
				photoimg,
				photocontent,
			<if test="keyword != null">	
				keyword,
			</if>
				landmark,
				hashtag,
				dateoftravel,
				photoregdate,
			<if test="lat != null">
				lat,
				lng,
			</if>
				hitcount,
				likecount
		)
		VALUES
		(
				photoseq.nextVal,
				#{albumno},
				#{userno},
				#{privacy},
				#{photoimg},
				#{photocontent},
			<if test="keyword != null">	
				#{keyword},
			</if>
				#{landmark},
				#{hashtag},
				#{dateoftravel},
				sysdate,
			<if test="lat != null">
				#{lat},
				#{lng},
			</if>
				0,
				0
		)		
	</insert>
	
	<!-- 임시 업로드 -->
	<insert id="uploadimg" parameterType="Uploadimage">
		INSERT INTO uploadimg
		VALUES(
			imgseq.nextVal,
			#{originalfilename},
			#{savedfilename}
		)
	</insert>
	
	
	<!-- 삭제기능 -->
	<delete id="deletePhoto" parameterType="_int">
		DELETE FROM PHOTO
		WHERE photono = #{photono}
			
	
	</delete>
	
	<!-- 베스트포토 메인(carousel) -->
	
	<select id="getBestPHotos" parameterType="int" resultType="Photo">
		SELECT * FROM photo
		WHERE albumno = #{albumno}
	</select>
	
	<select id="getAlbumPhoto" parameterType="int" resultType="Photo">
		SELECT photono, albumno, privacy, photoimg, photocontent, keyword, TO_CHAR(dateoftravel, 'YYYY-MM-DD') dateoftravel, lat, lng, userno
		FROM photo
		WHERE albumno = #{value}	
		ORDER BY photono
	</select>

	<select id="getPhotoList" parameterType="int" resultType="Photo">
		SELECT photono, albumno, privacy, photoimg, photocontent, keyword, TO_CHAR(dateoftravel, 'YYYY-MM-DD') dateoftravel, lat, lng, userno
		FROM photo	
		ORDER BY photono
	</select>
	
	
</mapper>
